@model DTPortal.Web.ViewModel.UserDashboard.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";

}
@{await Html.RenderPartialAsync("_AlertBox");}
<style>
    .input-box {
        position: relative;
    }

        .input-box .field-icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #6c757d;
        }

    .pwd {
        -webkit-text-security: disc;
    }
    </style>
 
<div class="row">

    <div class="col-md-12">
        <div class="card-custom">
            <!-- <div class="card-header">
                                <h5 class="card-title">Form row</h5>
                                <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6>
                            </div> -->
            <div class="card-body">
                <form id="uform" asp-action="ChangePassword">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group" hidden>
                                <input asp-for="Id" class="form-control" />
                                <input asp-for="isFirstLogin" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="OldPassword" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.OldPassword)
                                </label>
                                <div class="input-box">
                                    <input asp-for="OldPassword" class="form-control border-right-0 pwd" type="text" required />
                                    <span toggle="#OldPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.NewPassword)
                                </label>
                                <div class="input-box">
                                    <input asp-for="NewPassword" class="form-control border-right-0 pwd" type="text" required />
                                    <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.ConfirmPassword)
                                </label>
                                <div class="input-box">
                                    <input asp-for="ConfirmPassword" class="form-control border-right-0 pwd" type="text" required />
                                    <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <span id='message'></span>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div style="float: left;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            @{
                                var disable = string.Empty;
                                double opacity = 1;
                                if(string.IsNullOrEmpty(Model.NewPassword) || string.IsNullOrEmpty(Model.ConfirmPassword)){
                                    disable = "disabled";
                                    opacity = 0.5;
                                }
                           }
                            <button class="btn btn-primary" id="ChangePwdBtn" type="submit" style="opacity:@opacity;" @disable>
                                Update Password
                            </button>
                            &nbsp;&nbsp;

                            <a asp-controller="UserDashboard" asp-action="Profile" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<style>
     .pwd {
        -webkit-text-security: disc;
    }
</style>
@section Scripts {
    <script>
        $(document).ready(function () {

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
            $('#mainMenu').addClass('breadcrumb-item active').append('Change Password');
            $('#subMenu').removeClass('breadcrumb-item');

            $('#NewPassword, #ConfirmPassword').on('keyup', function () {
                if ($('#NewPassword').val() == $('#ConfirmPassword').val()) {
                    if ($('#NewPassword').val() != "" && $('#ConfirmPassword').val() != "") {
                        $('#message').html('Matched').css('color', 'green');
                        $('#ChangePwdBtn').attr("disabled", false);
                        $('#ChangePwdBtn').css('opacity', '1');
                    }
                    else {
                        $('#message').html('').css('color', 'green');
                    }

                } else {
                    $('#message').html('Not Matched').css('color', 'red');
                    $('#ChangePwdBtn').css('opacity', '0.5');
                    $('#ChangePwdBtn').attr("disabled", true);
                }
            });
             //$(".toggle-password").click(function () {
            //    $(this).toggleClass("fa-eye fa-eye-slash");
            //    var input = $($(this).attr("toggle"));
            //    if (input.attr("type") == "password") {
            //        input.attr("type", "text");
            //    } else {
            //        input.attr("type", "password");
            //    }
            //});
            $(".toggle-password").click(function () {
               $(this).toggleClass("fa-eye fa-eye-slash");
               var input = $($(this).attr("toggle"));
               if(input.hasClass("pwd"))
               {
                   input.removeClass("pwd");
               }else{
                  input.addClass("pwd");
               }
            });
        });


    </script>
}