@model DTPortal.Web.ViewModel.UserDashboard.SetPasswordViewModel


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>Set New Password</title>
    <link rel="icon" type="image/x-icon" href="~/assets/fav04.png" />
    <link href="~/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="~/global_assets/js/main/jquery.min.js" asp-append-version="true"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/assets/appcss/RegistrationPage.css" asp-append-version="true">

</head>
<body>
    @{await Html.RenderPartialAsync("_AlertBox");}
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="form-area" id="ResetPassword">
                        <div class="header">Set New Password</div>
                        <div class="activationDiv">
                            <form id="ChangePwd" asp-action="SetPassword">
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group" hidden>
                                            <input asp-for="Id" class="form-control" />
                                            <input asp-for="Uuid" class="form-control" />
                                            <input asp-for="TempSession" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword" class="col-form-label">
                                                @Html.DisplayNameFor(m => m.NewPassword)
</label>
                                            <div class="input-box">
                                                <input asp-for="NewPassword" class="border-right-0 pwd" type="text" required />
                                                <label asp-for="NewPassword" class="s3">Enter New Password</label>
                                                <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="col-form-label">
                                                @Html.DisplayNameFor(m => m.ConfirmPassword)
                                            </label>
                                            <div class="input-box">
                                                <input asp-for="ConfirmPassword" class="border-right-0 pwd" type="text" required />
                                                <label asp-for="ConfirmPassword" class="s3">Enter Confirm Password</label>
                                                <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                            <span id='message'></span>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="myform-button" style="margin-top: 30px">
                                    <div class="d-flex justify-content-end ">

                                        <button id="ChangePwdBtn" class="myform-btn" type="submit" style="opacity: 0.5;" disabled>
                                            Save
                                        </button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #message {
            position: absolute;
            left: 0;
            bottom: -25px;
        }
        .pwd {
        -webkit-text-security: disc;
    }
    </style>
    <script>
        $(document).ready(function () {

            $('#NewPassword, #ConfirmPassword').on('keyup', function () {
                if ($('#NewPassword').val() == $('#ConfirmPassword').val()) {
                    if ($('#NewPassword').val() != "" && $('#ConfirmPassword').val() != "") {
                        $('#message').html('Matched').css('color', 'green');
                        $('#ChangePwdBtn').attr("disabled", false);
                        $('#ChangePwdBtn').css('opacity', '1');
                    }
                    else {
                        $('#message').html('').css('color', 'green');
                    }

                } else {
                    $('#message').html('Not Matched').css('color', 'red');
                    $('#ChangePwdBtn').css('opacity', '0.5');
                    $('#ChangePwdBtn').attr("disabled", true);
                }
            });

            //$(".toggle-password").click(function () {
            //    $(this).toggleClass("fa-eye fa-eye-slash");
            //    var input = $($(this).attr("toggle"));
            //    if (input.attr("type") == "password") {
            //        input.attr("type", "text");
            //    } else {
            //        input.attr("type", "password");
            //    }
            //});
            $(".toggle-password").click(function () {
               $(this).toggleClass("fa-eye fa-eye-slash");
               var input = $($(this).attr("toggle"));
               if(input.hasClass("pwd"))
               {
                   input.removeClass("pwd");
               }else{
                  input.addClass("pwd");
               }
            });
        });


    </script>
</body>

</html>