 <!--Footer Start-->
@*<div class="footer sticky-bottom-footer">
        <div class="footer-container-fluid">
            <div class="d-inline">
                <ul class="foot d-flex flex-row">
                    © 2021 Copyright: DigitalTrustTech.com
                </ul>
            </div>
        </div>
    </div>*@

<style>
    .Pagefooter {
        position: absolute;
        bottom: 15px;
        right: 30px;
    }
</style>

<div class="footer sticky-bottom-footer">
    <div class="footer-container-fluid">
        <div class="d-inline">
            @*<div class="row Pagefooter">*@
            <ul class="foot d-flex flex-row">
                @*<img src="~/assets/NewLogo/SVG/DtLogo.svg" alt="alter img"/>*@
            </ul>
            @*</div>*@
        </div>
    </div>
</div>

<!--Footer End-->
