@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>@ViewData["Title"] - Admin Portal</title>
    <link rel="icon" type="image/x-icon" href="~/assets/fav04.png" asp-append-version="true" />

    <!-- Global stylesheets -->
    <link href="~/assets/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    @*<link href="~/assets/css/icomoon/styles.min.css" rel="stylesheet" type="text/css" asp-append-version="true"/>*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/appcss/customAppStyles.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/appcss/appStyles.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <!--Poppins-->
    @*<link href="~/assets/css/poppins.min.css" rel="stylesheet" type="text/css" asp-append-version="true"/>*@
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <!-- data tables -->
    <link href="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
     <link href='~/lib/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>
    @{
        var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"];
        @if (string.IsNullOrEmpty(theme))
        {
            // Default theme when nothing is selected
            <link rel="stylesheet" href="~/assets/externalCss/yellow.css" type="text/css" asp-append-version="true" />
        }
        else if (theme == "Brown")
        {
            <link rel="stylesheet" href="~/assets/externalCss/DarkBrown.css" type="text/css" asp-append-version="true" />
        }
        else if (theme == "LightBlue")
        {
            <link rel="stylesheet" href="~/assets/externalCss/LightBlue.css" type="text/css" asp-append-version="true" />
        }
        else if (theme == "Yellow")
        {
            <link rel="stylesheet" href="~/assets/externalCss/yellow.css" type="text/css" asp-append-version="true" />
        }
        else if (theme == "DarkBlue")
        {
            <link rel="stylesheet" href="~/assets/externalCss/blue.css" type="text/css" asp-append-version="true" />
        }
        else
        {
            // Fallback safety
            <link rel="stylesheet" href="~/assets/externalCss/yellow.css" type="text/css" asp-append-version="true" />
        }

    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    

</head>

<body>
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner">

            </span>
        </div>
    </div>
    <div id="overlay1">
        <div class="cv-spinner">
            <span class="spinner">

            </span>
        </div>
    </div>
     <div id="overlay2">
        <div class="cv-spinner">
            <span class="spinner">

            </span>
        </div>
    </div>

    <script src="~/global_assets/js/main/jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/dasboardCardAnimate.js" asp-append-version="true"></script>

    <!-- Core JS files -->
    <div class="wrapper">

        <!--app-sidebar-->
        <partial name="_Navigation" />
        <!--app-sidebar end-->

        <div class="content-wrapper w-100">

            <!--app-navbar-->
            <partial name="_Header" />
            <!--app-navbar end-->
            <!--Main Content Start-->
            <div class="content content-side background-image">
                <div class="container-fluid p-0">

                    <!--breadcrumb start-->
                    <div aria-label="breadcrumb" class="custom-breadcrumb" id="custombreadcrumb" style="display:flex;width:auto;justify-content:space-between">
                        <ol class="breadcrumb custom-breadcrumb-down">
                            <li class="breadcrumb-item" id="homeMenu"><i class="fa fa-home"></i>&nbsp;</li>
                            <li class="breadcrumb-item " id="mainMenu" aria-current="page"></li>
                            <li class="breadcrumb-item " id="subMenu" aria-current="page"></li>
                        </ol>

                        <div id="backtohome" style="display:none">
                            <button style="padding: 5px 12px; font-size: 14px; background-color: #1976d2; color: white; border: none; border-radius: 21px; cursor: pointer;">
                                ← Back to Dashboard
                            </button>
                        </div>

                    </div>
                    <!--breadcrumb end-->
                    
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!--Main Content End-->
            <!-- Footer -->
            <partial name="_Footer" />
            <!-- Footer End -->

        </div>
    </div>
    <partial name="_AdditionalAuthentication" />

    @*<div id="modal-placeholder">*@
        @await Html.PartialAsync("_ModalDialog")
    @*</div>*@

    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            adjustTableWrapper();
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            window.onload = function () {
                adjustTableWrapper();
            };

            // Call on window resize
            $(window).resize(function () {
                adjustTableWrapper();
            });

            // window.addEventListener('resize', function () {
            //     const width = window.innerWidth;
            //     if (width <= 1045) {
            //         $('#sidebar').toggleClass('');
            //     }
            // });

            $('.theme-changer').on('click', "a", function () {
                var item = $(this).attr('name');
                $.post('@Url.Action("SetTheme", "Home")',
                    {
                         __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        data: item
                    })
                    .done(function () {
                        location.reload();
                    });
            });

            //var placeholderElement = $('#modal-placeholder');
            //placeholderElement.on('click', '[data-submit="modal"]', function (event) {
            //    event.preventDefault();

            //    var form = $(this).parents('.modal').find('form');
            //    var actionUrl = form.attr('action');
            //    var dataToSend = form.serialize();

            //   placeholderElement.find('.modal').modal('hide');
            //    $.ajax({
            //        type: "POST",
            //        url: actionUrl,
            //        data: dataToSend,
            //        dataType: "json",
            //        beforeSend: function () {
            //            $('#overlay').show();
            //        },
            //        complete: function () {
            //            $('#overlay').hide();
            //        }
            //    }).done(function (response) {
            //        if (response.status == "Success") {
            //            type = 'success';
            //        }
            //        else {
            //            type = 'error';
            //        }
            //        swal({ type: type, title: response.title, text: response.message }, function (isConfirm) {
            //            if (isConfirm) {
            //                if (type == 'success') {
            //                    if (response.organizationName)
            //                    {
            //                        getOrganizationDetails(response.organizationName);
            //                    }
            //                    else
            //                    {
            //                        window.location.reload();
            //                    }
            //                }
            //            }
            //        });
            //    });
            //});

            $('input[type=text]:not([readonly]),input[type=url]:not([readonly]),input[type=tel]:not([readonly]),input[type=password]:not([readonly]),input[type=radio]:not([readonly]),textarea:not([readonly]),select:not([readonly]),input[type=email]:not([readonly]),input[type=number]:not([readonly])').each(function () {
                var req = $(this).attr('data-val-required');
                var exclude = $(this).attr('data-exclude');
                if (undefined != req && undefined == exclude) {
                    var label = $('label[for="' + $(this).attr('id') + '"]');
                    var text = label.text();
                    if (text.length > 0 && !text.includes("*")) {
                        label.append(' <span style="color:#ff0000b3;">*</span>');
                    }
                }
            });

            $("input:text,form").attr("autocomplete", "off");

            $(".datepicker").change(function () {
                var errirdivId = "#" + this.id + "-error";
                if ($(this).hasClass("input-validation-error") && $(this).val() != "") {
                    $(this).removeClass("input-validation-error");
                    $(errirdivId).text("");
                    $(this).closest("span").addClass("field-validation-valid");
                }
            })
        });

        $(document).on('click', '#sidebar ul li', function () {
            $('#sidebar ul li').removeClass('active');
            $(this).addClass("active");
        });

        $(document).on('click', '#sidebar ul li ul li a', function () {
            $('#sidebar ul li ul li a').removeClass('active');
            $(this).addClass("active");
        });

        $("#sidebar ul li").on("click", function () {
            $('#sidebar ul li ul li a').removeClass('active');
        });

        // function adjustTableWrapper() {
        //     if ($(window).width() < 768) { // Change 768 to your desired breakpoint
        //         if (!$('.table').parent().hasClass('table-responsive')) {
        //             // Wrap the table with div.table-responsive and div.table-wrap
        //             $('.table').wrap('<div class="table-wrap"><div class="table-responsive"></div></div>');
        //         }
        //     } else {
        //         // Unwrap the table and remove added divs on larger screens
        //         if ($('.table').closest('.table-wrap').length) {
        //             $('.table').closest('.table-wrap').replaceWith($('.table'));
        //         }
        //     }
        // }

        function adjustTableWrapper() {
            if ($(window).width() <= 768) { 
                if (!$('.table').parent().hasClass('table-responsive')) {
                    $('.table').wrap('<div class="table-wrap"><div class="table-responsive" style="scrollbar-width: thin;"></div></div>');
                }
            } else {
                if ($('.table').closest('.table-wrap').length) {
                    $('.table').closest('.table-wrap').replaceWith($('.table'));
                }
            }
        }
                

         /// Update all date fields with local DD/MM/YYYY format
        function updateDateStamps() {
            document.querySelectorAll(".convert-date").forEach(function (element) {
                const dateStr = element.getAttribute("data-datestamp"); // Format: dd/mm/yyyy HH:MM:SS in UTC
                if (dateStr) {
                    const dateObj = parseUTCStringToLocalDate(dateStr);
                    if (dateObj) {
                        element.textContent = formatDateToDDMMYYYY(dateObj);
                    } else {
                        element.textContent = "Invalid Date";
                    }
                } else {
                    element.textContent = "NA";
                }
            });
        }

        // Update all datetime fields with local DD/MM/YYYY HH:mm:ss format
        function updateDateTimeStamps() {
            document.querySelectorAll(".convert-date-time").forEach(function (element) {
                const timestampStr = element.getAttribute("data-datetimestamp"); // Format: dd/mm/yyyy HH:MM:SS in UTC
                if (timestampStr) {
                    const dateObj = parseUTCStringToLocalDate(timestampStr);
                    if (dateObj) {
                        element.innerHTML = formatDateTimeToDDMMYYYYHHMMSS(dateObj);
                    } else {
                        element.textContent = "Invalid Date";
                    }
                } else {
                    element.textContent = "NA";
                }
            });
        }

        function convertUTCToIST(utcString) {
            if (!utcString) return "NA";

            const utcDate = new Date(utcString); // ISO UTC string
            if (isNaN(utcDate)) return "Invalid Date";

            // Convert to IST using timezone-safe method
            const istDate = new Date(
                utcDate.toLocaleString("en-US", { timeZone: "Asia/Kolkata" })
            );

            const day = String(istDate.getDate()).padStart(2, "0");
            const month = String(istDate.getMonth() + 1).padStart(2, "0");
            const year = istDate.getFullYear();

            const hours = String(istDate.getHours()).padStart(2, "0");
            const minutes = String(istDate.getMinutes()).padStart(2, "0");
            const seconds = String(istDate.getSeconds()).padStart(2, "0");

            return `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
        }


        // Helper: Parse a UTC string (dd-mm-yyyy HH:MM:SS) to local Date object
        function parseUTCStringToLocalDate(utcString) {
            const [datePart, timePart] = utcString.trim().split(" ");
            if (!datePart) return null;

            const [day, month, year] = datePart.split("/").map(Number);
            const [hours = 0, minutes = 0, seconds = 0] = (timePart || "").split(":").map(Number);

            if (
                isNaN(day) || isNaN(month) || isNaN(year) ||
                isNaN(hours) || isNaN(minutes) || isNaN(seconds)
            ) {
                return null;
            }

            // Construct date in UTC and convert to local
            const utcDate = new Date(Date.UTC(year, month - 1, day, hours, minutes, seconds));
            return new Date(utcDate); // This will be in local timezone
        }

        // Format date as DD/MM/YYYY
        function formatDateToDDMMYYYY(date) {
            const day = String(date.getDate()).padStart(2, "0");
            const month = String(date.getMonth() + 1).padStart(2, "0");
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }

        // Format full datetime as DD/MM/YYYY HH:mm:ss
        function formatDateTimeToDDMMYYYYHHMMSS(date) {
            const datePart = formatDateToDDMMYYYY(date);
            const hours = String(date.getHours()).padStart(2, "0");
            const minutes = String(date.getMinutes()).padStart(2, "0");
            const seconds = String(date.getSeconds()).padStart(2, "0");
            return `${datePart} &nbsp;&nbsp; ${hours}:${minutes}:${seconds}`;
        }



        function ajaxErrorHandler(xhr, status, error) {
            switch (xhr.status) {
                case 400:
                    swal("Error", "Cannot process your request", "error");
                    break;
                case 401:
                    swal({ type: 'info', title: "Session Expired", text: "Click on 'Ok' button to login again!" }, function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = '@Url.Action("Index", "Login")'
                        }
                    });
                    break;
                case 403:
                    swal("Forbidden", "You do not have access to this resource", "error");
                    break;
                case 404:
                    swal("Not Found", "The resource you requested could not be found", "error");
                    break;
                case 408:
                    swal("Timeout", "The request is timed out", "error");
                    break;
                case 500:
                    swal({ title: "Server Error", text: "Something went wrong, please try again later", type: "error" }, function (isConfirm) {
                        if (isConfirm) {
                            //window.location.reload();
                        }
                    });
                    break;
                case 502:
                    swal("Bad Gateway", "Invalid response", "error");
                    break;
                case 503:
                    swal("Service Unavailable", "The Service is currently unavailable, please try after sometime", "error");
                    break;
                case 504:
                    swal("Gateway Timeout", "Gateway timeout error occurred", "error");
                    break;
                default:
                    errors = ["Bad Request", "Bad Gateway", "Not Found", "Internal Server Error", "Forbidden", "Unauthorized", "Service Unavailable"]
                    if (xhr.readyState == 0 && xhr.status == 0 && xhr.responseJSON == undefined) {
                        console.log(xhr.responseText);
                        if (!errors.includes(error)) {
                            if (window.navigator.onLine) {
                                console.log(xhr);
                                if (error == "") {
                                    error = "Something went wrong, please try later"
                                }
                                swal({ type: 'error', title: "Error", text: error }, function (isConfirm) {
                                    if (isConfirm) {
                                        //window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal({ type: 'info', title: "No Internet", text: "Check your network connection!" }, function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                });
                            }
                        }
                        else {
                            swal({ type: 'error', title: "Error", text: "Something went wrong, please try later" }, function (isConfirm) {
                                if (isConfirm) {
                                    //window.location.reload();
                                }
                            });
                        }
                    }
                    break;
            }
        }
    </script>

    <script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
    @*<script src="~/assets/javascript/dropdown_collaspse.js" asp-append-version="true"></script>*@
    <script src="~/assets/javascript/index.js" asp-append-version="true"></script>
    <script src="~/assets/javascript/sidebar_jquery.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src='~/lib/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <!-- data tables -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
</body>
</html>


