<div class="modal fade bd-example-modal-lg" id="modalDialogDiv" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div id='modalDialogContentDiv'></div>
</div>
@*
<link href="~/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" asp-append-version="true"/>

<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
<script>
    $(document).ready(function () {
    });
</Script>*@