@model DTPortal.Web.ViewModel.Subscriber.LivelinessVideoViewModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title s3">
                <span class="text-capitalize s3" style="font-size: 18px">
                    Liveliness Video
                </span>
            </h5>
            <button type="button"
                    class="close cross"
                    data-dismiss="modal">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="well">
                <div style="background-color:transparent">
                    <video style="width:450px; height:200px;" controls autoplay>
                        <source src="@Model.url" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var modal = $("button").parents('#modalDialogDiv');
        modal.on('hidden.bs.modal', function (e) {
            $(this).find('video')[0].pause();
        });

        $('video source').last().on('error', function () {
            
            swal({ type: 'info', title: "Info", text: "Video not available", closeOnConfirm: true }, function (isConfirm) {
                if (isConfirm) {
                    $('#modalDialogDiv').modal('hide');
                }
            });
        });
    });

</script>