@model DTPortal.Core.DTOs.SubscriberOnboardingDetailsDTO

@using DTPortal.Core

<style>
    .modal-dialog {
        max-width: 900px;
    }
</style>

<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title s3">
                <span class="text-capitalize s3" style="font-size: 18px">
                    Subscriber Details
                </span>
            </h5>
            <button type="button"
                    class="close cross"
                    data-dismiss="modal">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="well">
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table display product-overview mb-30" id="support_table5">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Email</td>
                                    <td>@Model.PhoneNo</td>
                                    <td>@Model.SubscriberStatus</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>